@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: hsl(0, 0%, 98%);
  font-family: 'Public Sans', sans-serif;
}

/* button and container is a global factor */
button{
  width: 12%;
  height: 6vh;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: hsl(0, 0%, 100%);
}

button:hover{
  background: linear-gradient(to right, hsla(136, 65%, 51%, 0.5), hsla(192, 70%, 51%, 0.5));
  cursor: pointer;
}

.container{
  width: 86%;
  margin: auto;
}

.nav{
  position: relative;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0.3px 15px 0.1px hsl(0, 0%, 0%);
}

.nav-div{
  display: flex;
}

.logo{
  width: 10%;
  margin: 4vh 5vw 4vh 0;
}

.nav-bar ul{
  display: flex;
  list-style: none;
  margin: 4vh 12vw;
}

.nav-bar ul li{
  padding: 0 1vw;
  color: hsl(233, 8%, 62%);
}

.nav-bar ul li:hover{
  cursor: pointer;
}

.nav-bar ul li::after{
  content: '';
  display: block;
  height: 0.9vh;
  width: 0;
  margin: 2.6vh 0 -5vh 0;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  transition: all 0.5s;
}

.nav-bar ul li:hover::after{
  width: 100%;
}

.nav-btn{
  display: none;
}

.request-btn1{
  margin: 2.2vh 5vw;
}

.toggle-btn{
  display: none;
  position: absolute;
  top: 4.5vh;
  right: 22vw;
}

.main{
  background: url("images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 360% 150%;
}

.holder-1{
  display: flex;
}

.img-div0{
  display: none;
}

.writeup-1{
  margin: 30vh 7vw;
  width: 30%;
  height: fit-content;
}

.writeup-1 h1{
  font-size: 3rem;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
  margin: 0 0 3vh 0;
}

.writeup-1 p{
  color: hsl(233, 8%, 62%);
  font-size: 300;
  margin: 0 0 6vh 0;
}

.request-btn2{
  width: 40%;
}

.img-div1{
  background: url("images/image-mockups.png");
  width: 50%;
  height: 125vh;
  background-repeat: no-repeat;
  background-position: -35% 100%;
  margin: 0 0 0 6vw;
}

.easy-info{
  background-color: hsl(220, 16%, 96%);
  margin: -23.2vh 0 0 0;
}

.holder-2 h1{
  color: hsl(233, 26%, 24%);
  padding: 15vh 0 5vh 0;
  font-weight: 400;
  font-size: 2rem;
}

.holder-2 .p{
  color: hsl(233, 8%, 62%);
  width: 50%;
  padding: 0 0 15vh 0;
}

.flex-box1{
  display: flex;
}

.flex1{
  margin: 0 0 15vh 0;
}

.flex1 h2{
  color: hsl(233, 26%, 24%);
  margin: 0 0 4vh 0;
}

.flex1 p{
  color: hsl(233, 8%, 62%);
  width: 92%;
}

.flex2{
  margin: 0 0 15vh 0;
}

.flex2 h2{
  color: hsl(233, 26%, 24%);
  margin: 0 0 4vh 0;
}

.flex2 p{
  color: hsl(233, 8%, 62%);
  width: 93%;
}

.flex3{
  margin: 0 0 15vh 0;
}

.flex3 h2{
  color: hsl(233, 26%, 24%);
  margin: 0 0 4vh 0;
}

.flex3 p{
  color: hsl(233, 8%, 62%);
  width: 93%;
}

.flex4{
  margin: 0 0 15vh 0;
}

.flex4 h2{
  color: hsl(233, 26%, 24%);
  margin: 0 0 4vh 0;
}

.flex4 p{
  color: hsl(233, 8%, 62%);
  width: 93%;
}

.flex-icon{
  margin: 0 0 5vh 0;
}

.easy-article{
  background: hsl(0, 0%, 98%);
}

.holder-3 h1{
  padding: 12vh 0 8vh 0;
}

.flex-box2{
  display: flex;
}

.flex-img{
  width: 100%;
  min-height: 35vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.flexable-1{
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 100%;
  margin: 0 0 15vh 0;
}

.flexable-1 p{
  font-size: 0.8rem;
  color: hsl(233, 8%, 62%);
  margin: 3vh 0 0 2vw;
}

.flexable-1 h3{
  margin: 2vh 0 0 2vw;
  width: 90%;
  color: hsl(233, 26%, 24%);
}

.flexable-1 .p-1{
  margin: 3vh 0 5vh 2vw;
  width: 80%;
  font-size: 0.9rem;
  color: hsl(233, 8%, 62%);
}

.flexable-2{
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 100%;
  margin: 0 0 15vh 1.5vw;
}

.flexable-2 p{
  margin: 3vh 0 0 2vw;
  font-size: 0.8rem;
  color: hsl(233, 8%, 62%);
}

.flexable-2 h3{
  margin: 2vh 0 0 2vw;
  width: 90%;
  color: hsl(233, 26%, 24%);
}

.flexable-2 .p-1{
  margin: 3vh 0 5vh 2vw;
  width: 80%;
  font-size: 0.9rem;
  color: hsl(233, 8%, 62%);
}

.flexable-3{
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 100%;
  margin: 0 0 15vh 1.5vw;
}

.flexable-3 p{
  margin: 3vh 0 0 2vw;
  font-size: 0.8rem;
  color: hsl(233, 8%, 62%);
}

.flexable-3 h3{
  margin: 2vh 0 0 2vw;
  width: 90%;
  color: hsl(233, 26%, 24%);
}

.flexable-3 .p-1{
  margin: 3vh 0 5vh 2vw;
  width: 85%;
  font-size: 0.9rem;
  color: hsl(233, 8%, 62%);
}

.flexable-4{
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 100%;
  margin: 0 0 15vh 1.5vw;
}

.flexable-4 p{
  color: hsl(233, 8%, 62%);
  font-size: 0.8rem;
  margin: 3vh 0 0 2vw;
}

.flexable-4 h3{
  margin: 2vh 0 0 2vw;
  width: 90%;
  color: hsl(233, 26%, 24%);
}

.flexable-4 .p-1{
  color: hsl(233, 8%, 62%);
  margin: 3vh 0 5vh 2vw;
  width: 87%;
  font-size: 0.9rem;
}

.footer{
  background-color: hsl(233, 26%, 24%);
  height: 32vh;
  position: relative;
}

.logo2{
  margin: 8vh 0;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(315deg) brightness(103%) contrast(102%);
}

.flex-icons ul{
  display: flex;
  list-style: none;
}

.flex-icons ul li img{
  padding: 0 0 0 0.8vw;
}

.flex-icons ul li img:hover{
  filter: invert(52%) sepia(100%) saturate(2715%) hue-rotate(88deg) brightness(126%) contrast(117%);
  cursor: pointer;
}

.list1{
  margin: -17vh 0 0 20vw;
}

.list1 ul{
  list-style: none;
}

.list1 ul li{
  color: hsl(0, 0%, 100%);
  padding: 1.5vh 0;
  width: fit-content;
}

.list1 ul li:hover{
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}

.list2{
  margin: -17.5vh 0 0 30vw;
}

.list2 ul{
  list-style: none;
}

.list2 ul li{
  width: fit-content;
  color: hsl(0, 0%, 100%);
  padding: 1.5vh 0;
}

.list2 ul li:hover{
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}

.request-btn3{
  position: absolute;
  top: 7vh;
  right: 10vw;
}

.copyright{
  margin: -5vh 0 0 64vw;
  color: hsl(233, 8%, 62%);
  font-weight: 700;
}